/* Add CSS Styling */

.odd {
  background-color: rgb(255, 182, 193);
  font-family:verdana, dejavu, snas, sans-serif;
}

#one {
   color: rgb(0, 0, 255);
   font-size: 24px;
}

.cooler {
  font-size: 24px;
}

#two {
  background-color: rgb(144, 238, 144);
  font-size: 24px;
  font-weight: bold;
}
