/* Add CSS Styling */

.one {
  background-color: black;
  color: white;
}

.two {
  background-color: yellow;
}

.same {
  font-size: 28px;
  font-family: helvetica, "times new roman", sans-serif;
}